.mainContainer {
  padding: 0 25px;
  height: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
  margin: 0 auto;
  min-width: 1140px;
  max-width: 80%;
  .leftContainer {
    background-color: #fafafa;;
    padding: 0 30px;
    min-width: 290px;
    .type-name {
      font-weight: 430;
      font-size: 1.3rem;
      .checkbox {
        font-weight: 350;
        font-size: 1rem;
      }
    }

    .titleBreakLine {
      opacity: 50%;
    }
    .type-name {
      margin: 2rem 1rem;
    }
    .checkBox {
      flex-shrink: 0;
      margin-right: 0.5rem;
      position: relative;
      top: 0.125rem;
      border-radius: -10px;
      label {
        border: none;
        flex-shrink: 0;
        height: 1rem;
        margin-right: 0.5rem;
        position: relative;
        top: 0.125rem;
        width: 2rem;
        -webkit-appearance: none;
        appearance: none;
        border-radius: -10px;
        cursor: pointer;
      }
      input {
        border: grey;
        width: 25px;
        height: 25px;
        cursor: pointer;
        accent-color: palevioletred;
      }
    }



  }
  .rightContainer {
    background-color: #f2f3f5;
    padding: 0 30px;

    .first-page-img {
      img {
        width: 100%
      }
    }
    .notification{
      font-size: 0.85em;
      background-color: lightgray;
    }

    .sortingTabs {
      padding: 1.5rem 0;

      .options {
        display: inline-block;
        width: 30%;
        height: 30px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          font-weight: bold;
        }
        &::after {
          position: relative;
          bottom: -10px;
          left: 0;
          width: 0;
          height: 6px;
          background-color: darkred;
          transition: all 0.2s ease-in-out;
          content: "";
          display: block;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }

  }
}
