.mainContainer {
  padding: 0 25px;
  height: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
  margin: 0 auto;
  min-width: 1140px;
  max-width: 80%;
}
.mainContainer .leftContainer {
  background-color: #fafafa;
  padding: 0 30px;
  min-width: 290px;
}
.mainContainer .leftContainer .type-name {
  font-weight: 430;
  font-size: 1.3rem;
}
.mainContainer .leftContainer .type-name .checkbox {
  font-weight: 350;
  font-size: 1rem;
}
.mainContainer .leftContainer .titleBreakLine {
  opacity: 50%;
}
.mainContainer .leftContainer .type-name {
  margin: 2rem 1rem;
}
.mainContainer .leftContainer .checkBox {
  flex-shrink: 0;
  margin-right: 0.5rem;
  position: relative;
  top: 0.125rem;
  border-radius: -10px;
}
.mainContainer .leftContainer .checkBox label {
  border: none;
  flex-shrink: 0;
  height: 1rem;
  margin-right: 0.5rem;
  position: relative;
  top: 0.125rem;
  width: 2rem;
  -webkit-appearance: none;
  appearance: none;
  border-radius: -10px;
  cursor: pointer;
}
.mainContainer .leftContainer .checkBox input {
  border: grey;
  width: 25px;
  height: 25px;
  cursor: pointer;
  accent-color: palevioletred;
}
.mainContainer .rightContainer {
  background-color: #f2f3f5;
  padding: 0 30px;
}
.mainContainer .rightContainer .first-page-img img {
  width: 100%;
}
.mainContainer .rightContainer .notification {
  font-size: 0.85em;
  background-color: lightgray;
}
.mainContainer .rightContainer .sortingTabs {
  padding: 1.5rem 0;
}
.mainContainer .rightContainer .sortingTabs .options {
  display: inline-block;
  width: 30%;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.mainContainer .rightContainer .sortingTabs .options:hover {
  font-weight: bold;
}
.mainContainer .rightContainer .sortingTabs .options::after {
  position: relative;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 6px;
  background-color: darkred;
  transition: all 0.2s ease-in-out;
  content: "";
  display: block;
}
.mainContainer .rightContainer .sortingTabs .options:hover::after {
  width: 100%;
}

/*# sourceMappingURL=mainpage.css.map */
