.productTile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  padding: 0 0.5rem;
  cursor: pointer;
  height: auto;
  transition: all 0.5s ease;
  margin-bottom: 5rem;
}
.productTile .image_container {
  position: relative;
  width: 100%;
  padding-bottom: 120%;
}
.productTile .image_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.productTile .swatches img {
  margin: 2px 2px;
  display: inline;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

/*# sourceMappingURL=productTile.css.map */
