.topNavigation {
  display: block;
  background: #f5f5f5;
  content: "";
  height: 3rem;
  left: 0;
  top: 0;
  transition: background .1s linear;
  margin: 0 200px;

}

#headerList {
  font-size: .875rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.4285714286;
  float: right;
  margin-right: 20px;
  li {
    margin: 0 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    &:hover {
      font-weight: bold;
    }
    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 6px;
      background-color: darkred;
      transition: all 0.2s ease-in-out;
      content: "";
      display: block;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.navDesktop {
  //background-color: gray;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 250px;
  padding: 20px 0;
  height: auto;
  overflow: auto;
  width: 100%;
  max-width: 100%;
  align-items: center;
  position: sticky;
  background-color: white;
  background-size: cover;
  .cart {
    margin-right: auto;
    margin-left: auto;
    &:hover {
      cursor: pointer;
    }
  }
  .navLogo {
    #logo {
      width: 34px;
      height: 34px;
    }
  }
  .primaryNavigation{
    color: #000;
    font-size: 16px;
    line-height: 1.2;
    ul {
      font-size: 14px;
      font-weight: bold;
      padding-left: 5px;
    }
    li {
      cursor: pointer;
      display: inline;
      margin: 5px 20px;
    }
  }
  .secondaryNavigation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    position: relative;

    .searchForm {
      .searchInput{
        width: 264px;
        height: 50px;
      }
      img {
        width: 20px;
      }
    }
  }
}
