* {
  box-sizing: border-box;
}

html {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fafafa;
  color: #000;
  margin: 0;
  min-height: 100%;
  padding: 0;
  font-family: Calibre, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

body {
  display: block;
  margin: 8px;
}

body, button, input, select, textarea {
  font-family: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

body, html {
  background-color: #fafafa;
  color: #000;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

.topNavigation #headerList {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
.topNavigation #headerList li {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.topNavigation #headerList li:hover {
  font-weight: bold;
}
.topNavigation #headerList li::after {
  left: 0;
  width: 0;
  height: 6px;
  background-color: darkred;
  transition: all 0.2s ease-in-out;
  content: "";
  display: block;
}

/*# sourceMappingURL=App.css.map */
